* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}

.banner {
  width: 100%;
}

.banner-img {
  width: 100vw;
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: absolute;
  top: 0;
  z-index: -1;
}

.container {
  width: 50%;
  margin: auto;
  margin-top: 5.2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.logo {
  letter-spacing: 3px;
  font-size: 3.2rem;
  font-weight: 700;
  color: #fff;
}

.input-form {
  width: 100%;
  height: 4.8rem;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2rem;
  gap: 1.2rem;
}

.add-task-input {
  height: 75%;
  width: 50%;
  outline: none;
  border: none;
  margin-top: 0.4rem;
  font-size: 1.4rem;
}

.add-task-btn {
  padding: 0.8rem 1.6rem;
  border-radius: 25px;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
  background-color: #513acf;
  outline: none;
  border: none;
  cursor: pointer;
}

.add-task-btn:hover {
  background-color: #4a3dba;
}

.btn {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  outline: none;
  background-color: #fff;
  border: #ddd solid 1px;
  margin-left: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  border: #513acf solid 2px;
}

.btn.complete-btn {
  background-color: #513acf;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.btn.complete-btn::after {
  content: '✔';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.tasks-list {
  background-color: #fff;
  margin-top: 2.4rem;
  margin-bottom: 1.2rem;
  border-radius: 5px;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 1.2rem 0;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.task-row {
  display: flex;
  justify-content: space-between;
  border-bottom: #ddd solid 1px;
  padding: 1.8rem 0;
}

.task {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  color: #a3a3a3;
  font-weight: 400;
}

.task h3 {
  font-weight: 400;
  transition: all 0.2s ease-in-out;
}

.complete-task {
  text-decoration: line-through;
  color: #b4b4b4;
}

.task-options {
  display: flex;
  gap: 1.2rem;
  padding-right: 2.4rem;
  color: #ddd;
  font-size: 1.4rem;
}

.edit,
.delete,
.details {
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.details:hover {
  color: #3543ff;
}
.edit:hover {
  color: #8170e0;
}

.delete:hover {
  color: #e74c3c;
}

.task-list-footer {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 0;
  color: #aaa;
  cursor: pointer;
}

.footer-text:first-child {
  flex-basis: 60%;
}

.active {
  color: #513acf;
}
@media screen and (max-width: 931px) {
  html {
    font-size: 80.5%;
  }
  .banner-img {
    height: 30vh;
  }

  .container {
    width: 90%;
    padding: 0 4.8rem;
  }
}

@media screen and (max-width: 391px) {
  html {
    font-size: 56%;
  }
  .banner-img {
    height: 30vh;
  }

  .container {
    margin-top: 33%;
    width: 90%;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-image: linear-gradient(45deg, #513acf, #b7b3e0);
  margin: 5% auto; /* 15% from the top and centered */
  padding: 1.2rem;
  width: 40%; /* Could be more or less, depending on screen size */
  box-shadow: 1px 1px 10px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* The Close Button */
.close {
  color: #fff;
  float: right;
  font-size: 2.4rem;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.close:hover,
.close:focus {
  color: #4a3dba;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #4a3dba;
  padding-top: 1.2rem;
}
.modal-input-form {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 2.4rem;
}

.modal-task-input {
  font-size: 0.8rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 0.8rem;
  width: 50%;
}

.task-date {
  font-size: 0.8rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 0.8rem;
  width: 50%;
}

.task-description {
  font-size: 0.8rem;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 0.8rem;
  width: 75%;
}

.modal h2 {
  font-size: 2.4rem;
  font-weight: 600;
  color: #4a3dba;
  padding-top: 1.2rem;
  margin-bottom: 2.4rem;
  text-align: center;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  font-size: 1.8rem;
  justify-content: center;
  align-items: center;
  color: rgb(38, 6, 65);
  background-color: white;
  padding: 2.4rem 4.8rem;
  border-radius: 10px;
}
